Django>=5.2,<6.0
django-oauth-toolkit>=3.0.1
djangorestframework>=3.16.1
django-cors-headers>=4.3.1
django-environ==0.11.2
psycopg2-binary==2.9.9
certifi>=2024.2.2
gunicorn>=21.2.0
pytest>=7
PyJWT>=2
django-axes>=5
